.App {
  text-align: center;
}
.container {
  display: flex;
  align-items: center;
  border: 1px solid #eee;
}
.btn-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-left: 1rem;
}
.btn {
  margin-right: 5px;
  padding: 0.5rem 1rem;
  font-size: 0.9rem;
  background-color: snow;
  border: 1px solid teal;
  color: rgb(27, 96, 96);
}
